@import "tailwindcss";

@theme {
    --animate-cursor: cursor 1s infinite;

    @keyframes cursor {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
